* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(153deg, #26282c, 75%, #2d3036);
}

ul {
  display: flex;
}

li {
  list-style: none;
}

a {
  color: #9a9ca0;
  text-decoration: none;

}